<!DOCTYPE html>
<html>
  <head>
    <title>🇺🇸 Analysis of Police Use of Force in America 🇺🇸</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Analysis of Police Use of Force in America"
    />
    <meta name="keywords" content="police, use of force, analysis, America" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>🇺🇸 Analysis of Police Use of Force in America 🇺🇸</h1>
    </header>

    <section id="charts">
      <h2>US Deaths by Police Data structure</h2>
      <p>
        Database has {{ shape_deaths[0] }} rows and {{ shape_deaths[1] }}
        columns.
      </p>
      <div id="chart1">{{ head_deaths | safe }}</div>
    </section>

    <section id="charts">
      <h2>Deaths by Police Trend over years</h2>
      <p>Description</p>
      <div id="chart1">{{ trend_deaths | safe }}</div>
    </section>

    <section id="charts">
      <h2>Deaths by state</h2>
      <p>Description</p>
      <div id="chart1">{{ deaths_by_state | safe }}</div>
    </section>

    <footer>
      <p>
        &copy; 2024 Analysis of Police Use of Force in America. All rights
        reserved.
      </p>
    </footer>
  </body>
</html>
