<!DOCTYPE html>
<html>
  <head>
    <title>🇺🇸 Analysis of Police Use of Force in America 🇺🇸</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Analysis of Police Use of Force in America"
    />
    <meta name="keywords" content="police, use of force, analysis, America" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>🇺🇸 Analysis of Police Use of Force in America 🇺🇸</h1>
    </header>

    <section id="charts">
      <h2>US Deaths by Police Data structure</h2>
      <p>
        Database has {{ shape_deaths[0] }} rows and {{ shape_deaths[1] }}
        columns.
      </p>
      <div id="chart1">{{ head_deaths | safe }}</div>
    </section>

    <section id="charts">
      <h2>Deaths by Police Trend over years</h2>
      <p>
        From January 2025 to July 2017 2535 victims due to police use of force
        are reported. Number of deaths by police has spiked in July 2015 and
        February 2017, while the lowest levels were registerd in June 205 and
        April 2017. Global average is 82 deaths per month.
      </p>
      <div id="chart1">{{ trend_deaths | safe }}</div>
    </section>

    <section id="charts">
      <h2>Deaths by state</h2>
      <p>
        The state of California leads the ranking of deaths, more than doubling
        Texas.
      </p>
      <div id="chart1">{{ deaths_by_state | safe }}</div>
    </section>

    <section id="charts">
      <h2>Gender, Manner and Mental Illness</h2>
      <p></p>
      <p>
        Almost 96% of deaths involves men while only 4% involves women. In
        almost 7% of cases victims have been both shot and teasered. Only in 25%
        of cases victims showed signs of mental illness.
      </p>
      <div class="three-columns">{{ gender_deaths | safe }}</div>
      <div class="three-columns">{{ manner_death | safe }}</div>
      <div class="three-columns">{{ mental_illness | safe }}</div>
    </section>

    <section id="charts">
      <h2>Victims Armed Status</h2>
      <p>
        In almost 50% of cases victims were armed with guns. To be noticed tha
        in more tha 10% of cases weapon was unknown or victims were unarmed.
      </p>
      <div id="chart1">{{ armed_status | safe }}</div>
    </section>

    <section id="charts">
      <h2>Victims in the First 10 cities</h2>
      <p>...</p>
      <div id="chart1">{{ city_death | safe }}</div>
    </section>

    <footer>
      <p>
        &copy; 2024 Analysis of Police Use of Force in America. All rights
        reserved.
      </p>
    </footer>
  </body>
</html>
